# Filling missing data

In [23]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/prudential-life-insurance-assessment/train.csv')

### Identifiying missing values

In [43]:
missing = {}
for i in df.columns:
    series = df[i]
    na = series.isna().sum()
    missing[series.name] = na
#     print("{}: {}".format(series.name, na))
missing = pd.DataFrame([missing])
missing.values

array([[    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,    19,     0,     0,  6779,     0, 10854,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0, 25396,     0,     0,     0,     0, 28656, 34241,
        19184, 41811,  8889,     0,     0,     0,     0,     0,     0,
            0,     0, 58824,     0,     0,     0,     0, 44596,     0,
            0,     0,     0,     0,     0,     0,     0, 55580,     0,
            0,     0,     0,     0,     0,     0, 58274,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0]], dtype=int64)

### Correlation between response and columns with missing values

In [47]:
corr = df.corr()
for i in missing.columns:
    if missing[i].sum() > 0:
        print("{}: {}. Missing values: {}".format(i, corr.loc[i, 'Response'], missing[i].sum()))

Employment_Info_1: 0.04085248323337571. Missing values: 19
Employment_Info_4: -0.024125382944161968. Missing values: 6779
Employment_Info_6: 0.01776578475797191. Missing values: 10854
Insurance_History_5: 0.020420193926166973. Missing values: 25396
Family_Hist_2: -0.0558996720571221. Missing values: 28656
Family_Hist_3: -0.003828032409109357. Missing values: 34241
Family_Hist_4: -0.0893776052516475. Missing values: 19184
Family_Hist_5: -0.018642248507825195. Missing values: 41811
Medical_History_1: 0.10305036782583012. Missing values: 8889
Medical_History_10: 0.029198860341542454. Missing values: 58824
Medical_History_15: 0.2773106184959633. Missing values: 44596
Medical_History_24: 0.01338370062564343. Missing values: 55580
Medical_History_32: 0.14453572606401383. Missing values: 58274

### Dropping rows with missing values for columns that highly correlate to reponse

In [55]:
df[['Medical_History_15', 'Response']].dropna().corr()

                    Medical_History_15  Response
Medical_History_15            1.000000  0.277311
Response                      0.277311  1.000000